.side-bar {
  position: sticky;
  position: -webkit-sticky;
  top: 4rem;
  align-self: flex-start;
  width: 10%;
}

.left-menu-item {
  width: 100%;
  text-align: center;
}

.left-menu-item-a {
  display: flex;
}

.left-menu-item-a:hover {
  border-radius: 5px;
}

.left-menu-item-icon {
  margin: 0 1rem 0 0;

  display: flex;
  justify-content: center;
}

.left-menu-item-label {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 800px) {
  .side-bar {
    display: none;
  }
}
