.button {
  border-radius: 10px;
  padding: 0.5em 0.7em;
  font-size: 1.1em;
  font-weight: 600;
  background-color: #7a7a7a;
  color: #f3f3f3;
  cursor: pointer;

  border: none;
  /* border: 3px solid transparent; */
  /* transition: border-color 0.25s; */
}

.button:hover { 
  background-color: #a1a1a1;
}

.button.active {
  background-color: #4db968;
}

.button.active:hover { 
  background-color: #4fcc6e;
}

.button:disabled {
  cursor: not-allowed;
  color: #c0c0c0;
  background-color: #636363;
}

.button:disabled:hover { 
  border-color: #8b8b8b;
} 