header {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  margin: 0;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  background: #3d3d3d;
  color: white;
  font-size: 1.5em;
  width: 100%;
  height: 3rem;
  z-index: 1;
}

.header__left {
  display: flex;

  margin-left: 10rem;
  padding: 0.5rem;

  box-sizing: border-box;
}

#text-logo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  align-items: center;
  text-align: center;
  justify-content: center;

  padding: 0.1rem 0.5rem;

  color: rgba(255, 255, 255, 0.87);
  margin: 0 1rem;
}

/* #text-logo {
  will-change: filter;
  transition: filter 300ms;
}
#text-logo:hover {
  filter: drop-shadow(0 0 0.5rem #7a7a7aaa);
} */

.left__icon-box svg {
  display: flex;

  align-items: center;
}

.left__text {
  margin: 0 0 0 0.5rem;
  padding: 0;
}

.header__right {
  margin-right: 10rem;
  text-align: center;
}

.header__right a {
  padding: 0.1rem 0.5rem;

  color: rgba(255, 255, 255, 0.87);
  margin: 0 1rem;
}

.header__nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__nav-item {
  display: row;

  font-size: 1em;
  line-height: 1;
}

#nav-item__signup,
#nav-item__signin {
  display: none;
}

.nav-item__link {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;

  box-sizing: border-box;
}

.nav-item__icon svg {
  padding-top: 0.1rem;
}

.nav-item__text {
  margin-left: 0.7rem;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header__nav-item:nth-child(n + 2) {
  margin-left: 0.5rem;
}

.header__right a:hover {
  background-color: #636363;
  border-radius: 10px;
}

.header__menu-button {
  display: none;
}

@media screen and (max-width: 1400px) {
  .header__left {
    margin-left: 0;
    padding-left: 0;
  }

  #text-logo {
    margin-left: 0.5rem;
  }

  .header__right {
    margin-right: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 976px) {
  .header__nav {
    position: fixed;
    top: 0;
    left: -30%;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    background-color: #3d3d3d;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: transform 0.3s linear;
  }

  .header__nav.active {
    transform: translate(100%);
  }

  .header__nav-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem 0 2rem;
  }

  .header__nav-list {
    margin-top: 2rem;
    margin-left: 0;
  }

  .header__nav-item {
    margin: 1rem 0;
  }

  .header__nav-item:nth-child(n + 2) {
    margin-left: 0;
  }

  .header__menu-button {
    display: block;
    background-color: transparent;
    border: none;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 0.5rem;
    padding: 0;
  }

  .menu-button__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    width: 100%;
    height: 100%;

    margin: 0 auto;
    padding: 0.1rem;

    box-sizing: border-box;
  }

  .menu-button__icon:hover {
    background-color: #636363;
    border-radius: 10px;
  }

  .header__right {
    margin-right: 0.5rem;
  }
}

@media screen and (max-width: 576px) {
  .header__nav {
    left: -50.1%;
    width: 50%;
  }
}
